div(class='row')
  div(class='col-xs-12 bottom-spacer text-center')
    h1 #[a(href='https://www.baresoil.org/') Baresoil] Face Detection Benchmark (AWS)
    p This is a repeatable, #[+ExtLinkOwned('https://github.com/iceroad/baresoil-benchmark-face-detection', 'open code and data')] benchmark.
    p
      span Benchmark date:&nbsp;
      strong(class='format-short-date', data-date=extVariables.runStartTime)= extVariables.runStartTime
